/* screen - desktop-1 */

.desktop-1 {
  align-items: center;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 2905px;
  overflow: hidden;
  width: 1441px;
}

.desktop-1 .navbar {
  align-items: flex-start;
  background-color: var(--azure-radiance);
  display: flex;
  height: 180px;
  left: 0;
  min-width: 1440px;
  position: fixed;
  top: 0;
  z-index: 6;
}

.desktop-1 .overlap-group13 {
  height: 180px;
  position: relative;
  width: 1263px;
}

.desktop-1 .vector-1 {
  height: 33px;
  left: 1227px;
  position: absolute;
  top: 25px;
  width: 33px;
}

.desktop-1 .overlap-group12 {
  height: 180px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1263px;
}

.desktop-1 .navbar-1 {
  align-items: flex-start;
  display: flex;
  gap: 130px;
  left: 176px;
  padding: 20px 32px;
  position: absolute;
  top: 91px;
  width: fit-content;
}

.desktop-1 .navbar-link {
  letter-spacing: 3.24px;
  line-height: 22.5px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.desktop-1 .navbar-link-1 {
  cursor: pointer;
  letter-spacing: 3.24px;
  line-height: 22.5px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.desktop-1 .logo_marmite-removebg-preview-1 {
  height: 180px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 180px;
}

.desktop-1 .vector-2 {
  height: 32px;
  margin-left: 15px;
  margin-top: 26px;
  width: 26px;
}

.desktop-1 .icon-instagram {
  height: 29px;
  margin-left: 23px;
  margin-top: 29px;
  width: 29px;
}

.desktop-1 .vector-3 {
  height: 33px;
  margin-left: 19px;
  margin-top: 25px;
  width: 33px;
}

.desktop-1 .overlap-group16 {
  height: 68px;
  margin-left: 23.0px;
  margin-top: 207px;
  position: relative;
  width: 804px;
  z-index: 2;
}

.desktop-1 .overlap-group {
  align-items: flex-end;
  background-color: var(--alto);
  border-radius: 20px;
  display: flex;
  height: 68px;
  left: 0;
  min-width: 802px;
  padding: 22px 100px;
  position: absolute;
  top: 0;
}

.desktop-1 .je-cherche-une-recette-un-ingrdient {
  letter-spacing: 3.24px;
  line-height: 22.5px;
  min-height: 23px;
  min-width: 583px;
  white-space: nowrap;
}

.desktop-1 .vector {
  height: 30px;
  left: 743px;
  position: absolute;
  top: 16px;
  width: 30px;
}

.desktop-1 .je-cherche-une-recette-un-ingrdient-1 {
  letter-spacing: 2.70px;
  line-height: 22.5px;
  min-height: 23px;
  min-width: 486px;
  white-space: nowrap;
}

.desktop-1 .overlap-group17 {
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/645399455e1791f6ddb85048/releases/645399ac88342ed0307b5486/img/chef-feminin-ajoutant-sauce-au-plat-1.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 961px;
  margin-right: 1.0px;
  margin-top: 27px;
  position: relative;
  width: 1440px;
  z-index: 3;
}

.desktop-1 .flex-container {
  flex-direction: column;
  gap: 33px;
  height: 300px;
  left: 150px;
  position: absolute;
  top: 116px;
  width: 1261px;
}

.desktop-1 .text0 {
  letter-spacing: 4.32px;
  line-height: 22.5px;
  position: relative;
  text-align: center;
  width: 1261px;
}

.desktop-1 .span1 {
  color: var(--azure-radiance);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-l);
  font-weight: 700;
}

.desktop-1 .text {
  letter-spacing: 4.32px;
  line-height: 22.5px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: 1261px;
}

.desktop-1 .chef-feminin-ajoutant-sauce-au-plat-2 {
  height: 961px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1440px;
}

.desktop-1 .overlap-group18 {
  height: 23px;
  margin-right: 44.0px;
  margin-top: 59px;
  position: relative;
  width: 177px;
  z-index: 5;
}

.desktop-1 .overlap-group18-item {
  left: 0;
  letter-spacing: 4.32px;
  line-height: 22.5px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.desktop-1 .overlap-group15 {
  height: 1325px;
  margin-top: 131px;
  position: relative;
  width: 1441px;
  z-index: 1;
}

.desktop-1 .rectangle-1 {
  background-color: var(--azure-radiance);
  height: 676px;
  left: 0;
  position: absolute;
  top: 649px;
  width: 1441px;
}

.desktop-1 .group-container {
  height: 1273px;
  left: 61px;
  position: absolute;
  top: 0;
  width: 1340px;
}

.desktop-1 .group-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 1273px;
  position: absolute;
  top: 0;
  width: 1340px;
}

.desktop-1 .overlap-group2 {
  align-items: flex-end;
  background-color: var(--white);
  box-shadow: 5px 5px 4px #00000040;
  display: flex;
  height: 308px;
  justify-content: flex-end;
  margin-left: 80px;
  min-width: 474px;
  padding: 0 6px;
}

.desktop-1 .jus-orange-1 {
  height: 304px;
  margin-bottom: 0;
  object-fit: cover;
  width: 460px;
}

.desktop-1 .jus-de-fruits-au-thermomix {
  letter-spacing: 2.70px;
  line-height: 22.5px;
  margin-left: 80px;
  margin-top: 32px;
  white-space: nowrap;
}

.desktop-1 .flex-row-1 {
  align-items: center;
  margin-left: 80px;
  margin-top: 32px;
  min-width: 123px;
}

.desktop-1 .icon-clock {
  height: 36px;
  width: 30px;
}

.desktop-1 .x20mn {
  letter-spacing: 2.70px;
  line-height: 22.5px;
  margin-bottom: 1.66px;
  white-space: nowrap;
  width: 65px;
}

.desktop-1 .flex-row-2 {
  align-items: flex-end;
  margin-left: 80px;
  margin-top: 32px;
  min-width: 210px;
}

.desktop-1 .icon-user {
  height: 30px;
  width: 30px;
}

.desktop-1 .address {
  letter-spacing: 2.70px;
  line-height: 22.5px;
  margin-bottom: 0;
  white-space: nowrap;
  width: 152px;
}

.desktop-1 .overlap-group4 {
  height: 44px;
  margin-left: 80px;
  margin-top: 32px;
  position: relative;
  width: 237px;
}

.desktop-1 .rectangle-7 {
  background-color: var(--white);
  box-shadow: 5px 5px 4px #00000040;
  cursor: pointer;
  height: 44px;
  left: 0;
  position: absolute;
  top: 0;
  width: 237px;
}

.desktop-1 .recette {
  left: 52px;
  letter-spacing: 2.70px;
  line-height: 22.5px;
  position: absolute;
  text-align: center;
  top: 10px;
  white-space: nowrap;
  width: 92px;
}

.desktop-1 .overlap-group3 {
  height: 466px;
  margin-top: 239px;
  position: relative;
  width: 1340px;
}

.desktop-1 .group-2 {
  align-items: flex-start;
  display: flex;
  gap: 95px;
  height: 466px;
  left: 1px;
  min-width: 1339px;
  position: absolute;
  top: 0;
}

.desktop-1 .overlap-group-1 {
  height: 466px;
  position: relative;
  width: 640px;
}

.desktop-1 .rectangle-15 {
  background-color: var(--azure-radiance);
  height: 466px;
  left: 10px;
  position: absolute;
  top: 0;
  width: 630px;
}

.desktop-1 .phone {
  left: 101px;
  letter-spacing: 3.24px;
  line-height: 22.5px;
  position: absolute;
  text-align: center;
  top: 224px;
  white-space: nowrap;
  width: 182px;
}

.desktop-1 .location_on_fill0_wg {
  height: 44px;
  left: 4px;
  position: absolute;
  top: 56px;
  width: 45px;
}

.desktop-1 .thiaroye-sur-mer-villa-n266 {
  left: 101px;
  letter-spacing: 3.24px;
  line-height: 22.5px;
  position: absolute;
  text-align: center;
  top: 70px;
  white-space: nowrap;
  width: 426px;
}

.desktop-1 .deskphone_fill0_wght400_grad0_opsz48-1 {
  height: 52px;
  left: 0;
  position: absolute;
  top: 130px;
  width: 53px;
}

.desktop-1 .phone-1 {
  left: 101px;
  letter-spacing: 3.24px;
  line-height: 22.5px;
  position: absolute;
  text-align: center;
  top: 149px;
  white-space: nowrap;
  width: 190px;
}

.desktop-1 .whatsapp-1 {
  height: 47px;
  left: 11px;
  position: absolute;
  top: 209px;
  width: 42px;
}

.desktop-1 .flex-col {
  flex-direction: column;
  min-height: 466px;
  width: 597px;
}

.desktop-1 .nom {
  align-self: center;
  letter-spacing: 3.24px;
  line-height: 22.5px;
  margin-left: 120.1px;
  text-align: center;
  white-space: nowrap;
  width: 80px;
}

.desktop-1 .flex-row {
  gap: 40px;
  height: 198px;
  margin-top: 12px;
  min-width: 597px;
}

.desktop-1 .flex-col-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 198px;
  width: 278px;
}

.desktop-1 .rectangle-1-1 {
  background-color: var(--alto);
  height: 50px;
  width: 278px;
}

.desktop-1 .telephone {
  letter-spacing: 3.24px;
  line-height: 22.5px;
  margin-top: 14px;
  text-align: center;
  white-space: nowrap;
  width: 170px;
}

.desktop-1 .message {
  letter-spacing: 3.24px;
  line-height: 22.5px;
  margin-top: 88px;
  text-align: center;
  white-space: nowrap;
  width: 130px;
}

.desktop-1 .rectangle-13 {
  background-color: var(--alto);
  height: 141px;
  margin-left: 0.09px;
  margin-top: 9px;
  width: 597px;
}

.desktop-1 .overlap-group1 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 50px;
  margin-left: 0.09px;
  margin-top: 34px;
  min-width: 278px;
  padding: 12.9px 54.7px;
}

.desktop-1 .envoyer {
  letter-spacing: 3.24px;
  line-height: 22.5px;
  text-align: center;
  white-space: nowrap;
  width: 151px;
}

.desktop-1 .frame-2 {
  height: 40px;
  left: 0;
  position: absolute;
  top: 421px;
  width: 490px;
}

.desktop-1 .group-4 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 743px;
  min-height: 1004px;
  position: absolute;
  top: 0;
  width: 597px;
}

.desktop-1 .rectangle-6 {
  background-color: var(--white);
  box-shadow: 5px 5px 4px #00000040;
  height: 308px;
  margin-left: 19px;
  width: 474px;
}

.desktop-1 .jus-de-bouye {
  letter-spacing: 2.70px;
  line-height: 22.5px;
  margin-left: 19px;
  margin-top: 32px;
  white-space: nowrap;
}

.desktop-1 .flex-row-3 {
  align-items: center;
  margin-left: 19.0px;
  margin-top: 32px;
  min-width: 124px;
}

.desktop-1 .x30mn {
  letter-spacing: 2.70px;
  line-height: 22.5px;
  margin-bottom: 1.66px;
  white-space: nowrap;
  width: 66px;
}

.desktop-1 .flex-row-4 {
  align-items: flex-end;
  margin-left: 19.0px;
  margin-top: 32px;
  min-width: 210px;
}

.desktop-1 .overlap-group5 {
  align-items: flex-start;
  background-color: var(--white);
  box-shadow: 5px 5px 4px #00000040;
  display: flex;
  height: 44px;
  margin-left: 19px;
  margin-top: 32px;
  min-width: 237px;
  padding: 9.9px 52px;
}

.desktop-1 .recette-1 {
  width: 92px;
}

.desktop-1 .rectangle-13-1 {
  background-color: var(--alto);
  height: 50px;
  margin-left: 0;
  margin-top: 386px;
  width: 589px;
}

.desktop-1 .contacter {
  left: 619px;
  letter-spacing: 4.32px;
  line-height: 22.5px;
  position: absolute;
  text-align: center;
  top: 698px;
  white-space: nowrap;
}

.desktop-1 .prenom {
  left: 804px;
  letter-spacing: 3.24px;
  line-height: 22.5px;
  position: absolute;
  text-align: center;
  top: 803px;
  white-space: nowrap;
}

.desktop-1 .jusbouye-1 {
  left: 1075px;
}

.desktop-1 .images-1 {
  left: 821px;
}

.desktop-1 .group-container-1 {
  height: 1273px;
  left: 61px;
  position: absolute;
  top: 0;
  width: 1332px;
}

.desktop-1 .group-3-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 239px;
  left: 0;
  min-height: 1273px;
  position: absolute;
  top: 0;
  width: 1332px;
}

.desktop-1 .overlap-group2-1 {
  height: 568px;
  margin-left: 80px;
  position: relative;
  width: 476px;
}

.desktop-1 .rectangle-6-1 {
  left: 0;
  width: 474px;
}

.desktop-1 .group-11 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 32px;
  left: 0;
  min-height: 564px;
  position: absolute;
  top: 4px;
  width: 476px;
}

.desktop-1 .jus-orange-1-1 {
  align-self: center;
  cursor: pointer;
  height: 304px;
  object-fit: cover;
  width: 460px;
}

.desktop-1 .jus-de-fruits-au-thermomix-1 {
  letter-spacing: 2.70px;
  line-height: 22.5px;
  white-space: nowrap;
}

.desktop-1 .flex-row-5 {
  align-items: center;
  min-width: 123px;
}

.desktop-1 .flex-row-6 {
  align-items: flex-start;
  min-width: 210px;
}

.desktop-1 .address-1 {
  align-self: flex-end;
  width: 152px;
}

.desktop-1 .overlap-group-3 {
  height: 44px;
  position: relative;
  width: 237px;
}

.desktop-1 .rectangle-7-1 {
  background-color: var(--blaze-orange);
  box-shadow: 5px 5px 4px #00000040;
  cursor: pointer;
  height: 44px;
  left: 0;
  position: absolute;
  top: 0;
  width: 237px;
}

.desktop-1 .recette-2 {
  left: 58px;
  position: absolute;
  top: 9px;
  width: 92px;
}

.desktop-1 .overlap-group3-1 {
  height: 466px;
  position: relative;
  width: 1340px;
}

.desktop-1 .nom-1 {
  align-self: center;
  letter-spacing: 3.24px;
  line-height: 22.5px;
  margin-left: 120.1px;
  text-align: center;
  white-space: nowrap;
  width: 80px;
}

.desktop-1 .group-4-1 {
  background-color: var(--alto);
  height: 50px;
  left: 735px;
  position: absolute;
  top: 937px;
  width: 597px;
}

.desktop-1 .span0 {
  color: var(--white);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-m);
  font-weight: 300;
}

.desktop-1 .recette2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 32px;
  left: 821px;
  min-height: 568px;
  padding: 0 0.0px;
  position: absolute;
  top: 0;
  width: 491px;
}

.desktop-1 .overlap-group10 {
  height: 308px;
  position: relative;
  width: 483px;
}

.desktop-1 .rectangle-6-2 {
  left: 2px;
  width: 480px;
}

.desktop-1 .jusbouye-2 {
  left: 254px;
}

.desktop-1 .images-2 {
  left: 0;
}

.desktop-1 .jus-de-bouye-1 {
  letter-spacing: 2.70px;
  line-height: 22.5px;
  margin-left: 2.37px;
  white-space: nowrap;
}

.desktop-1 .flex-row-7 {
  align-items: center;
  margin-left: 2.37px;
  min-width: 126px;
}

.desktop-1 .x30mn-1 {
  letter-spacing: 2.70px;
  line-height: 22.5px;
  margin-bottom: 1.66px;
  white-space: nowrap;
  width: 67px;
}

.desktop-1 .flex-row-8 {
  align-items: flex-end;
  margin-left: 2.37px;
  min-width: 213px;
}

.desktop-1 .address-2 {
  margin-bottom: 0;
  width: 154px;
}

.desktop-1 .overlap-group11 {
  align-items: flex-start;
  background-color: var(--blaze-orange);
  box-shadow: 5px 5px 4px #00000040;
  display: flex;
  height: 44px;
  margin-left: 2.37px;
  min-width: 240px;
  padding: 9.3px 59.8px;
}

.desktop-1 .recette-3 {
  width: 93px;
}

.desktop-1 .overlap-group-container {
  height: 104px;
  margin-left: 3.0px;
  position: relative;
  width: 1442px;
  z-index: 4;
}

.desktop-1 .overlap-group-2 {
  align-items: flex-end;
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/645399455e1791f6ddb85048/releases/645399ac88342ed0307b5486/img/rectangle-5.svg);
  background-size: 100% 100%;
  display: flex;
  height: 104px;
  left: 0;
  min-width: 1440px;
  padding: 19px 391px;
  position: absolute;
  top: 0;
}

.desktop-1 .copyright-2023-tous-droits-rservs {
  letter-spacing: 3.24px;
  line-height: 22.5px;
  min-height: 23px;
  white-space: nowrap;
  width: 658px;
}

.desktop-1 .address-3 {
  letter-spacing: 2.70px;
  line-height: 22.5px;
  white-space: nowrap;
}

.desktop-1 .flex {
  align-items: flex-start;
  display: flex;
}

.desktop-1 .flex-row-9 {
  display: flex;
  gap: 28px;
}

.desktop-1 .images {
  height: 210px;
  object-fit: cover;
  position: absolute;
  top: 29px;
  width: 252px;
}

.desktop-1 .jusbouye {
  height: 298px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 217px;
}

.desktop-1 .recette-4 {
  letter-spacing: 2.70px;
  line-height: 22.5px;
  text-align: center;
  white-space: nowrap;
}

.desktop-1 .rectangle-6-3 {
  background-color: var(--white);
  box-shadow: 5px 5px 4px #00000040;
  height: 308px;
  position: absolute;
  top: 0;
}
@media only screen and (max-width: 1050px){
  .overlap-group-container{

  top: -300px;
}
header .footer{
  left: -300px;
}
#menubtn{
  display: block;
}
}
.mobile-nav-active header{
  left: 0px;

}
.mobile-nav-active header .footer{
  left: 0;
  
}
main{
  
  margin-left: 300px;
  background-color: var(--bgColor);
  transform: 0.3s;
}
